

<div id="map" class="map" style="margin-top:20px; position:relative; overflow:hidden;"></div>
<img src="" />
<div style="display: none;">
    <!-- Popup -->
    <div id="popup" title=""></div>
</div>

@section scripts {
    <script src="~/Scripts/app/map.js"></script>
}