

<div id="map" class="map" style="margin-top:20px; position:relative; overflow:hidden;">
    <span id="thumbs" class="table">
        <span id="thumbs-inner"></span>
    </span>
</div>


@section scripts {
    <script src="~/Scripts/app/map.js"></script>
}