
<div id="paneldiv">
    <ul class="list-group">
        <li class="list-group-item" style="display:inline-block;">
            &nbsp;&nbsp;&nbsp;ללא תיווך
            <div class="material-switch pull-right">
                <input class="adfilters" id="noagentswitch" name="noagentswitch" type="checkbox" checked>
                <label for="noagentswitch" class="label-default"></label>
            </div>
        </li>
        <li class="list-group-item" style="display:inline-block">
            &nbsp;&nbsp;&nbsp;מתיווך
            <div class="material-switch pull-right">
                <input class="adfilters" id="agentswitch" name="agentswitch" type="checkbox" checked>
                <label for="agentswitch" class="label-primary"></label>
            </div>
        </li>
        <li class="list-group-item" style="display:inline-block">
            &nbsp;&nbsp;&nbsp;דירות חדשות
            <div class="material-switch pull-right">
                <input class="adfilters" id="newaptswitch" name="newaptswitch" type="checkbox" checked>
                <label for="newaptswitch" class="label-success"></label>
            </div>
        </li>
        <li class="list-group-item" style="display:inline-block">
            &nbsp;&nbsp;&nbsp;יד 2
            <div class="material-switch pull-right">
                <input class="adfilters" id="oldaptswitch" name="oldaptswitch" type="checkbox" checked>
                <label for="oldaptswitch" class="label-info"></label>
            </div>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="list-group-item-s" style="display:inline-block;">
            &nbsp;&nbsp;&nbsp;בתי ספר
            <div class="material-switch pull-right">
                <input id="schoolswitch" name="schoolswitch" type="checkbox">
                <label for="schoolswitch" class="label-schools label-extras"></label>
            </div>
        </li>
        <li class="list-group-item-s" style="display:inline-block">
            &nbsp;&nbsp;&nbsp;מסעדות
            <div class="material-switch pull-right">
                <input id="resturantswitch" name="resturantswitch" type="checkbox">
                <label for="resturantswitch" class="label-resturants label-extras"></label>
            </div>
        </li>
        <li class="list-group-item-s" style="display:inline-block">
            &nbsp;&nbsp;&nbsp;דירות שנמכרו
            <div class="material-switch pull-right">
                <input id="soldaptswitch" name="soldaptswitch" type="checkbox">
                <label for="soldaptswitch" class="label-soldapt label-extras"></label>
            </div>
        </li>
        <li class="list-group-item-s" style="display:inline-block">
            &nbsp;&nbsp;&nbsp;מחיר חציוני
            <div class="material-switch pull-right">
                <input id="avgpriceswitch" name="avgpriceswitch" type="checkbox">
                <label for="avgpriceswitch" class="label-avgprice label-extras"></label>
            </div>
        </li>
        <li class="list-group-item-s" style="display:inline-block">
            &nbsp;&nbsp;&nbsp;זיהום אוויר
            <div class="material-switch pull-right">
                <input id="polutionswitch" name="polutionswitch" type="checkbox">
                <label for="polutionswitch" class="label-polution label-extras"></label>
            </div>
        </li>
    </ul>


</div>

<div id="map" class="map" style="margin-top:20px; position:relative; overflow:hidden;"></div>

<img src="" />
<div style="display: none;">
    <!-- Popup -->
    <div id="popup" title=""></div>
</div>

@section scripts {
    <script src="~/Scripts/app/map.js"></script>
}